<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Info about contact</title>
</head>
<body>
<h2>Contact number {{ contact.id }}</h2>
<hr size="1">
        <p><tt>User:</tt> <em>{{ contact.user }}</em></p>
        <p><tt>Name:</tt> <em>{{ contact.name }}</em></p>
        <p><tt>Surname:</tt> <em>{{ contact.surname }}</em></p>
        <p><tt>Patronymic:</tt> <em>{{ contact.patronymic }}</em></p>
        <p><tt>Old:</tt> <em>{{ contact.old }}</em> <tt>yo</tt></p>
        <p><tt>Phone number:</tt> {{ phone_numbers|default:'Nothing' }}</p>
        <p><tt>Email address:</tt> {{ emails|default:'Nothing' }}</p>
</body>
</html>