{% extends 'base.html' %}


{% block title %}
    Info about contact
{% endblock %}


{% block content %}
    {% include 'includes/navbar.html' %}

    <div class="">
        <h2>Описание контакта</h2>
        <p>User: <em>{{ contact.user }}</em></p>
        <p>Name: <em>{{ contact.name }}</em></p>
        <p>Surname: <em>{{ contact.surname }}</em></p>
        <p>Patronymic: <em>{{ contact.patronymic }}</em></p>
        <p>Old: <em>{{ contact.old }}</em> <tt>yo</tt></p>
        <p>{{ contact.phone_set.all|join:',  '|default:'Nothing' }}</p>
        <p>{{ contact.email_set.all|join:',  '|default:'Nothing' }}</p>
    </div>

    <div>
        <button type="submit"><a href="{% url 'update' pk=contact.pk %}">Update contact</a></button>
    </div>

    <div>
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete contact</button>
        </form>
    </div>

{% endblock %}
