<ul>
    {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <p><input class="form-text" type="text" name="username" placeholder="Username"></p>
            <p><input class="form-text" type="password" name="password" placeholder="Password"></p>
            <button class="form-text" type="submit">Login</button>
            <button class="form-text"><a href="{% url 'registration' %}">Registration</a></button>
        </form>
    {% endif %}


</ul>