<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adress Book</title>
</head>
<body>
    <h1>Address info</h1>
    <p>{% for person in contact %}</p>
    <h3>Contact</h3>
        <p><tt>User:</tt> <em>{{ person.user }}</em></p>
        <p><tt>Name:</tt> <em>{{ person.name }}</em></p>
        <p><tt>Surname:</tt> <em>{{ person.surname }}</em></p>
        <p><tt>Patronymic:</tt> <em>{{ person.patronymic }}</em></p>
        <p><tt>Old:</tt> <em>{{ person.old }}</em> <tt>yo</tt></p>
    <p>{% endfor %}</p>
</body>
</html>